.banner {
  width: 100%;
  padding: 60px 0;
  @media screen and (min-width: $breakpoint600) {
    padding: 40px 0;
  }

  @media screen and (min-width: $breakpoint960) {
    .container {
      position: relative;
      &__layout {
        display: flex;
        align-items: center;
      }
      .deco {
        display: block;
        position: absolute;
        right: 0;
        top: 0;
        z-index: -2;
      }
      .deco-slides {
        display: block;
        position: absolute;
        right: -350px;
        top: 0;
        z-index: -1;
      }
    }
    #slick-slide21 .container__layout {
      flex-direction: row-reverse;
    }
    #slick-slide21 .container {
      .deco {
        right: initial;
        left: 0;
      }
    }
    #slick-slide22 {
      .banner__inner {
        text-align: center;
      }
      .banner__btns {
        justify-content: center;
      }
    }
    .banner__inner {
      text-align: start;
    }
    .banner__btns {
      justify-content: start;
    }
    img {
      max-width: 500px;
    }
  }

  @media screen and (min-width: 0px) {
    .deco {
      display: none;
    }
    .deco-slides {
      display: none;
    }
  }

  @media screen and (min-width: 1204px) {
    .container {
      .deco {
        display: none;
      }
      .deco-slides {
        display: none;
      }
    }
  }

  &__inner {
    text-align: center;
    h2 {
      font-size: 1.5rem;
      font-weight: var(--font-semiBold);
      line-height: 36px;
    }
    p {
      font-size: 1rem;
      line-height: 24px;
      font-weight: var(--font-medium);
      margin-top: 1rem;
      color: var(--text-primary);
    }
    @media screen and (min-width: $breakpoint600) {
      padding: 0 0 3rem 0;
      h2 {
        font-size: 2rem;
        line-height: 48px;
      }
      p {
        font-size: 1.25rem;
        line-height: 32px;
      }
    }
  }
  &__btns {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    button {
      width: 200px;
      height: 50px;
      border-radius: 6px;
      text-transform: uppercase;
      background-color: var(--primary-main);
      color: #fff;
      font-weight: var(--font-semiBold);
      @media screen and (min-width: $breakpoint600) {
        padding: 0 28px;
      }

      &:last-child {
        background-color: transparent;
        margin-bottom: 30px;
        color: var(--primary-main);
        border: 1px solid var(--primary-main);
      }
    }
    @media screen and (min-width: $breakpoint600) {
      flex-direction: row;
      justify-content: center;
    }
    @media screen and (max-width: $breakpoint600) {
      button {
        width: inherit;
      }
    }
  }
  img {
    max-height: 350px;
    object-fit: fill;
    margin: 0 auto;
  }

  .slick-dots {
    padding-top: 30px;
  }

  .slick-dots li button:before {
    border-radius: 50%;
    color: transparent !important;
    width: 17px;
    height: 17px;
    border: 2px solid var(--primary-main);
    opacity: 1;
    transition: all 0.3s ease;
  }
  .slick-dots li.slick-active button:before {
    width: 17px;
    height: 17px;
    opacity: 1;
    background: var(--primary-main) !important;
  }

  .slick-dots {
    padding-top: 30px;
  }

  @media screen and (min-width: $breakpoint960) {
    .slick-dots {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0 var(--container-padding);
      position: relative;
      margin: 0 auto;
      max-width: 1280px;
    }

    .slick-dots li.slick-active {
      border: 1px solid var(--primary-main);
      border-radius: 29px;
      a {
        text-decoration: none;
        color: var(--primary-dark);
        strong {
          color: var(--secondary-main);
        }
      }
    }
    .slick-dots li {
      max-width: 390px;
      margin: 0 auto;
      text-align: start;
      width: auto;
      height: auto;
      font-weight: var(--font-medium);
      padding: 16px 25px;
      a {
        color: var(--text-primary);
      }
      strong {
        font-size: 1.75rem;
        line-height: 43px;
        font-weight: var(--font-semiBold);
      }
    }
  }
}

.dark .banner__btns button:last-child {
  color: $secondary-dark;
  border: 1px solid $secondary-main;
}
