.footer {
  overflow: hidden;
  &__counter {
    position: relative;
    padding-top: 175px;
    text-align: center;
    padding-bottom: 80px;
    .deco {
      position: absolute;
      top: -225px;
      left: 50%;
      transform: translateX(-50%);
      z-index: -33;
      width: 1116px;
      height: 1116px;
      border-radius: 1116px;
      background-color: var(--deco-theme);
      opacity: 0.5;
      @media screen and (max-width: 1120px) {
        width: 100%;
      }
    }
    .counter__wrap {
      font-size: 3rem;
      font-weight: bold;
      color: var(--primary-theme);
      opacity: 1;

      p {
        font-size: 1.5rem;
        font-weight: var(--font-semiBold);
      }
      @media screen and (max-width: $breakpoint960) {
        font-size: 2.5rem;
        p {
          font-size: 1.25rem;
        }
      }
    }
    .action {
      margin-top: 40px;
      position: relative;
      z-index: 333;
      h4 {
        color: var(--text-primary);
        font-size: 2rem;
        font-weight: bold;
        @media screen and (max-width: $breakpoint960) {
          font-size: 1.75rem;
        }
      }
      button {
        margin-top: 24px;
        width: 208px;
        height: 40px;
        background-color: var(--secondary-main);
        border-radius: 6px;
        color: #fff;
        font-size: 1rem;
        font-weight: var(--font-semiBold);
        text-transform: uppercase;
        letter-spacing: 0.03em;
      }
    }
  }
  &__container {
    position: relative;
    .container {
      max-width: 1280px;
    }
    .deco {
      position: absolute;
      left: 0;
      top: -225px;
      width: 100%;
      &-left {
        content: "";
        display: block;
        width: 225px;
        height: 225px;
        border-radius: 0 100% 0 0;
        background-color: var(--accent-theme);
        opacity: 0.5;
      }
      &-container {
        display: flex;
        justify-content: space-between;
      }
      .plants {
        height: 130px;
        width: 340px;
        top: 120px;
        overflow: hidden;
        position: absolute;
        z-index: 333;
        @media screen and (max-width: $breakpoint600) {
          display: none;
        }
      }
      &-right {
        display: block;
        width: 225px;
        height: 225px;
        border-radius: 100% 0 0 0;
        background-color: var(--deco-theme);
        position: relative;
        opacity: 0.5;
        &::before {
          content: "";
          position: absolute;
          bottom: 0;
          left: -45%;
          width: 102px;
          height: 102px;
          border-radius: 0 100% 0 0;
          background-color: var(--accent-theme);
        }
      }
    }
  }
  &__overlay {
    width: 100%;
    background-color: var(--paper-theme);
    position: relative;
    z-index: 14;
    .deco-footer {
      position: absolute;
      bottom: 0;
      right: 0;
      width: 340px;
      height: 100%;
      background-color: var(--paper-theme);
      &-bottom {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: 0 100% 0 0;
        background: var(--deco-theme);
        overflow: hidden;

        &::after {
          content: "";
          opacity: 0.5;
          width: 100%;
          height: 100%;
          position: absolute;
          top: 0;
          left: 0;
          background-color: var(--paper-theme);
        }
      }
      &-top {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: 0 0 100% 0;
        background: var(--secondary-theme);
        overflow: hidden;
        @media screen and (max-width: $breakpoint600) {
          border-radius: 0;
        }
        &::after {
          content: "";
          opacity: 0.5;
          width: 100%;
          height: 100%;
          position: absolute;
          top: 0;
          left: 0;
          background-color: var(--paper-theme);
        }
      }
    }
  }
  &__menu {
    background: rgba($color: #ffecb3, $alpha: 0.5);
    padding: 80px;
    border-radius: 0 0 15% / 100% 0;
    z-index: 15;
    @media screen and (max-width: $breakpoint960) {
      padding: 50px;
    }
    &__layout {
      display: flex;
      padding: 0 78px 0 32px;
      gap: 30px;
      justify-content: center;
      position: relative;
      z-index: 333;
      @media screen and (max-width: $breakpoint960) {
        flex-direction: column;
        text-align: center;
      }
      @media screen and (max-width: 1280px) {
        padding: 0 32px;
      }
      .logo a {
        display: flex;
        align-items: center;
        gap: 8px;
        img {
          width: 2.125rem;
          height: 2.125rem;
          @media screen and (min-width: $breakpoint600) {
            width: 3rem;
            height: 3rem;
          }
        }
        h1 {
          font-size: 1.125rem;
          color: var(--text-primary);
          font-weight: var(--font-semiBold);
          font-size: 1.25rem;
          @media screen and (min-width: $breakpoint960) {
            font-size: 1.75rem;
          }
          @media screen and (min-width: $breakpoint1280) {
            font-size: 2rem;
          }
        }
        @media screen and (max-width: $breakpoint960) {
          justify-content: center;
        }
      }
    }
    .footer__column:nth-child(1) {
      display: flex;
      flex-direction: column;
      gap: 25px;
      p {
        color: var(--text-secondary);
        font-size: 1rem;
        font-weight: var(--font-regular);
        line-height: 24px;
        &:nth-child(3) {
          color: var(--text-primary);
          margin-top: 15px;
          @media screen and (max-width: $breakpoint960) {
            display: none;
          }
        }
      }
    }
    .column__layout {
      display: flex;
      gap: 45px;
      @media screen and (max-width: $breakpoint600) {
        gap: 30px;
      }
      h4 {
        color: var(--primary-theme);
        font-size: 1.125rem;
        font-weight: bold;
        text-transform: uppercase;
      }
      ul {
        padding-top: 18px;
        display: flex;
        flex-direction: column;
        gap: 20px;
      }
      li {
        color: var(--text-primary);
        font-size: 1rem;
        font-weight: var(--font-regular);
        line-height: 24px;
        @media screen and (max-width: $breakpoint960) {
          font-weight: var(--font-medium);
        }
      }
      @media screen and (max-width: $breakpoint960) {
        justify-content: center;
      }
    }

    .footer__column:nth-child(3) {
      padding-left: 50px;
      padding-top: 32px;
      @media screen and (max-width: 960px) {
        padding-top: 16px;
      }
      @media screen and (max-width: 1280px) {
        padding-left: 0;
      }
      ul {
        display: flex;
        gap: 18px;
        li {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 38px;
          height: 41px;
          background: rgba(0, 0, 0, 0.08);
          border-radius: 40.699px;
          a {
            display: flex;
          }
        }
        @media screen and (max-width: $breakpoint960) {
          justify-content: center;
        }
      }
      button {
        background-color: var(--secondary-main);
        border-radius: 6px;
        padding: 10px 15px;
        font-size: 1rem;
        max-width: 211px;
        width: 100%;
        color: #fff;
        text-transform: uppercase;
        font-weight: var(--font-semiBold);
        margin-top: 40px;
      }
      p {
        display: none;
      }
      @media screen and (max-width: 960px) {
        p {
          display: block;
          padding-top: 15px;
          color: var(--text-secondary);
          font-size: 1rem;
          font-weight: var(--font-regular);
          line-height: 24px;
          &:nth-child(3) {
            color: var(--text-primary);
            margin-top: 15px;
          }
        }
      }
    }
  }
}
.dark .footer__counter .deco,
.dark .footer__container .deco-right,
.dark .footer__container .deco-left {
  opacity: 0.2;
}
.dark .footer__menu {
  background-color: rgba($color: $secondary-dark, $alpha: 0.2);
}

.dark .footer__menu .footer__column:nth-child(3) svg {
  fill: #c8e6c9;
}

.dark .footer__menu .footer__column:nth-child(3) ul li {
  background: #424242;
}

.dark .footer__overlay .deco-footer-bottom::after,
.dark .footer__overlay .deco-footer-top::after {
  opacity: 0.8;
}

.dark .footer__counter .action h4 {
  color: #c8e6c9;
}
