.header {
  padding: 8px;
  @media screen and (min-width: $breakpoint600) {
    padding: 12px 0;
  }
  .container {
    display: flex;
    justify-content: space-between;
    height: 56px;
    padding: 0;
    @media screen and (min-width: $breakpoint600) {
      padding: 0 var(--container-padding);
    }
    @media screen and (min-width: $breakpoint960) {
      display: grid;
      grid-template-columns: auto auto 1fr;
      height: 72px;
    }
    .logo-menu {
      display: flex;
      align-items: center;
    }
    .mobile-btn {
      width: 36px;
      height: 36px;
      padding-left: 6px;
      @media screen and (min-width: $breakpoint960) {
        display: none;
      }
      .hamburger {
        display: flex;
        justify-content: center;
        flex-direction: column;
        gap: 7px;
      }

      span {
        width: 20px;
        background-color: var(--text-primary);
        height: 1px;
        &:nth-child(2) {
          width: 15px;
        }
      }
    }
    .logo a {
      display: flex;
      align-items: center;
      gap: 8px;
      img {
        width: 2.125rem;
        height: 2.125rem;
        @media screen and (min-width: $breakpoint600) {
          width: 3rem;
          height: 3rem;
        }
      }
      h1 {
        font-size: 1.125rem;
        color: var(--text-primary);
        font-weight: var(--font-semiBold);
        font-size: 1.25rem;
        @media screen and (min-width: $breakpoint960) {
          font-size: 1.75rem;
        }
        @media screen and (min-width: $breakpoint1280) {
          font-size: 2rem;
        }
      }
    }

    ul {
      @media screen and (min-width: $breakpoint960) {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 1.5rem;
        margin-left: 46px;
        li {
          display: flex;
          align-items: center;
          transition: all ease-in-out 0.2s;
          border-radius: 8px;
          border: 1px solid transparent;
          a {
            transition: all ease-in-out 0.2s;
          }
        }
        li:hover {
          border: 1px solid var(--primary-main);
          a {
            color: var(--primary-main);
            opacity: 1;
          }
        }
        a {
          display: inline-block;
          max-width: 160px;
          padding: 5px 10px;
          opacity: 0.7542;
          color: var(--text-primary);
          font-weight: var(--font-semiBold);
          font-size: 1rem;
        }
      }
      @media screen and (max-width: 960px) {
        display: none;
      }
    }

    .user-menu {
      display: flex;
      align-items: center;
      gap: 0.5rem;
      @media screen and (min-width: $breakpoint600) {
        padding: 8px;
        justify-self: end;
      }
      @media screen and (min-width: $breakpoint1280) {
        gap: 1rem;
      }

      &__contact {
        background-color: var(--secondary-main);
        border-radius: 6px;
        padding: 6px 10px;
        font-size: 12px;
        color: #fff;
        text-transform: uppercase;
        font-weight: var(--font-semiBold);
        @media screen and (min-width: $breakpoint600) {
          padding: 9px 12px;
          font-size: 14px;
        }
        @media screen and (min-width: $breakpoint960) {
          margin-right: 8px;
        }
      }
      @media screen and (min-width: $breakpoint960) {
        .divider {
          width: 1px;
          height: 25px;
          background-color: #979797;
        }
      }
      &__theme {
        padding: 8px;
      }
    }
  }
  aside {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: -100%;
    background-color: var(--paper-theme);
    z-index: 111;
    padding-top: 12px;
    transition: all ease-in-out 0.3s;
    @media screen and (min-width: $breakpoint960) {
      display: none;
    }
    .container {
      padding: 8px 32px;
      @media screen and (min-width: $breakpoint600) {
        padding: 8px 16px;
      }
    }
    .mobile-btn {
      background: transparent;
      width: 60px;
      height: 60px;
      position: relative;
    }
    .mobile-btn:after {
      content: "";
      height: 25px;
      border-left: 1px solid var(--text-primary);
      position: absolute;
      transform: rotate(-45deg);
      left: 16px;
      top: 7px;
    }

    .mobile-btn:before {
      content: "";
      height: 25px;
      border-left: 1px solid var(--text-primary);
      position: absolute;
      transform: rotate(45deg);
      left: 16px;
      top: 7px;
    }
    ul {
      max-width: 1200px;
      width: 100%;
      padding: 25px;
      margin: 0 auto;
      li {
        padding: 16px;
        a {
          color: var(--text-primary);
        }
        @media screen and (min-width: $breakpoint600) {
          padding: 16px 16px 16px 0;
        }
      }
    }
    .socials {
      margin-top: 120px;
      ul {
        display: flex;
        gap: 18px;
        justify-content: center;
      }
      li {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 38px;
        height: 41px;
        background: rgba(0, 0, 0, 0.08);
        border-radius: 40.699px;
        padding: 0;
      }
      p {
        text-align: center;
      }
    }
  }
  .open {
    left: 0;
  }
}
