.partners {
  .container {
    max-width: 968px;
  }
  @include title-styles;
  .deco-title {
    text-align: center;
  }
  h3 {
    text-align: center;
  }
  &__tabs {
    padding-top: 40px;
    max-width: 700px;
    width: 100%;
    border-bottom: 2px solid $border-button;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    .tabs__layout {
      display: flex;
      gap: 40px;
      @media screen and (max-width: $breakpoint600) {
        gap: 20px;
      }
    }
    button {
      position: relative;
      padding: 0 20px 18px 20px;
      height: 45px;
      vertical-align: top;
      font-size: 1.125rem;
      font-weight: $font-semiBold;
      color: $text-secondary;
      text-transform: uppercase;
      &::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        background-color: transparent;
        height: 5px;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
      }
      @media screen and (max-width: 450px) {
        padding: 0 10px 18px 10px;
      }
      @media screen and (max-width: 400px) {
        font-size: 1rem;
      }
    }
    .btn__active {
      color: $secondary-main;
      &::after {
        background-color: $secondary-light;
      }
    }
  }
  &__icons {
    display: none;
    padding-top: 35px;
    grid-template-columns: repeat(auto-fill, 145px);
    place-content: space-between;
    li {
      display: flex;
      justify-content: center;
      padding: 45px;
    }
    @media screen and (max-width: $breakpoint600) {
      padding-top: 40px;
      li {
        padding: 30px;
      }
    }
  }

  .icons__active {
    display: grid;
  }
}
